@import 'styles/variables';

.abc {
width:100%;
height:100%;
opacity:.99;
// display:none;     
top:0;
left:0;
position:fixed;
background-color:#313131;
overflow:auto
}
.close {
position:absolute;
right:-15px;
top:-10px;
font-size: 15px;
cursor:pointer
}

@keyframes modalFade {
  from {transform: translateY(-50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

@keyframes modalFadeClose {
  from {transform: translateY(0);opacity: 1;}
  to {transform: translateY(-50%);opacity: 0;}
}

.popupContact {
position:absolute;
animation-name: modalFade;
animation-duration: 2s;
left:50%;
top:17%;
margin-left:-280px;
font-family:'Raleway',sans-serif
}

.popupContactMobile {
    position:absolute;
    animation-name: modalFade;
    animation-duration: .3s;
    left:80%;
    top:17%;
    margin-left:-280px;
    font-family:'Raleway',sans-serif
    }

.form {
// max-width:300px;
// min-width:250px;
padding:10px 50px;
border:1.5px solid $color-golden;
border-radius:15px;
font-family:raleway;
background-color:$color-black;
}

.form_mobile {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:1.5px solid $color-golden;
    border-radius:5px;
    font-family:raleway;
    background-color:$color-black;
    }


.p {
margin-top:30px
}

.h2_styles {
// background-color:#FEFFED;
font-family: $font-base;
color: $color-golden;
// padding:20px 35px;
// margin:-10px -50px;
// text-align:center;
// border-radius:10px 10px 0 0
}
.hr {
  display: block; 
  border: 0; border-top: 2px solid $color-golden;
  // margin: 1em 0; padding: 0; 
}


.input {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
.wa_name {
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #fff;
// padding-left:40px;
font-size:16px;
font-family:raleway
}
.wa_name:focus{
  outline: $color-golden solid;
}
.email {
background-repeat:no-repeat;
background-position:5px 7px
}
.wa_textarea {
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
// padding-left:10px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
.wa_textarea:focus{
  outline: $color-golden solid;
}

.submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:$color-golden;
color:#fff;
border:1px solid $color-golden;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
.span {
color:red;
font-weight:700
}
.button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}

.datainput{position:relative;margin:5px 0 20px}
.datainput p{font-size:12px;background:#eee;display:inline-block;padding:5px 15px;border-radius:.5rem}
.whatsapp-form textarea{min-height:120px}
.datainput select{padding:12px 0;color:#555;font-size:14px;width:100%;border:0;border-bottom:1px solid #ddd;outline:none;background:#fff}

.radio_class{
  margin-right: 5px;
}

.abc,
.label{
color: white;
}

// .radio_class:after {
//   width: 15px;
//   height: 15px;
//   border-radius: 15px;
//   top: -2px;
//   left: -1px;
//   position: relative;
//   background-color: #d1d3d1;
//   content: '';
//   display: inline-block;
//   visibility: visible;
//   border: 2px solid white;
// }

.radio_class:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-golden;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
