// @import "http://fonts.googleapis.com/css?family=Raleway";
// /*----------------------------------------------
// CSS settings for HTML div Exact Center
// ------------------------------------------------*/

.abc {
width:100%;
height:100%;
opacity:.99;
// display:none;     
top:0;
left:0;
position:fixed;
background-color:#313131;
overflow:auto
}
.close {
position:absolute;
right:-15px;
top:-10px;
font-size: 15px;
cursor:pointer
}

@keyframes modalFade {
  from {transform: translateY(-50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

@keyframes modalFadeClose {
  from {transform: translateY(0);opacity: 1;}
  to {transform: translateY(-50%);opacity: 0;}
}

.popupContact {
position:absolute;
animation-name: modalFade;
animation-duration: .3s;
left:50%;
top:17%;
margin-left:-280px;
font-family:'Raleway',sans-serif
}

.popupContactMobile {
    position:absolute;
    animation-name: modalFade;
    animation-duration: .3s;
    left:80%;
    top:17%;
    margin-left:-280px;
    font-family:'Raleway',sans-serif
    }

.form {
// max-width:300px;
// min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff;
}

.form_mobile {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
    }



// .popupContactMobile {display:none;}
// .popupContact {display:display;}

// @media (max-width : 1150px) {
//     .popupContactMobile {display:block;}
//     .popupContact {display:none;}
// }


.p {
margin-top:30px
}
.h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
.hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
.input {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
.wa_name {
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
// padding-left:40px;
font-size:16px;
font-family:raleway
}
.email {
background-repeat:no-repeat;
background-position:5px 7px
}
.wa_textarea {
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
// padding-left:10px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
.submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
.span {
color:red;
font-weight:700
}
.button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}

.datainput{position:relative;margin:5px 0 20px}.datainput p{font-size:12px;background:#eee;display:inline-block;padding:5px 15px;border-radius:.5rem}.whatsapp-form textarea{min-height:120px}.datainput select{padding:12px 0;color:#555;font-size:14px;width:100%;border:0;border-bottom:1px solid #ddd;outline:none;background:#fff}.datainput input,.datainput textarea{font-size:15px;padding:15px 0;display:block;width:100%;border:none;border-bottom:1px solid #ddd}.datainput input:focus,.datainput textarea:focus{outline:none}.datainput label{color:#999;font-size:14px;font-weight:400;position:absolute;pointer-events:none;left:0;top:18px;transition:.2s ease all}.datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,.datainput textarea:valid~label{top:-10px;font-size:14px;color:#21a51f}#notif-license span{font-size:40px}#notif-license{display:none;position:fixed}.bar{position:relative;display:block;width:100%}.bar:before,.bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#21a51f;transition:.2s ease all}.bar:before{left:50%}.bar:after{right:50%}.datainput input:focus~.bar:before,.datainput input:focus~.bar:after,.datainput textarea:focus~.bar:before,.datainput textarea:focus~.bar:after{width:50%}.indigox{background:#3f51b5}.orangex{background:#ff9800}.pinkx{background:#e91e63}.bluex{background:#2196F3}.purplex{background:#9c27b0}.redx{background:#F44336}.greenx{background:#4CAF50}.highlight{position:absolute;height:50%;width:100px;top:25%;left:0;pointer-events:none;opacity:.5}.datainput input:focus~.highlight,.datainput textarea:focus~.highlight{animation:inputHighlighter .3s ease}.datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,.datainput textarea:valid~label{top:-10px;font-size:13px;color:#21a51f}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// @import "compass/css3";

// $body-bg: #c1bdba;
// $form-bg: #13232f;
// $white: #ffffff;

// $main: #1ab188;
// $main-light: lighten($main,5%);
// $main-dark: darken($main,5%);

// $gray-light: #a0b3b0;
// $gray: #ddd;

// $thin: 300;
// $normal: 400;
// $bold: 600;
// $br: 4px;

// // *, *:before, *:after {
// //   box-sizing: border-box;
// // }

// .html {
// 	overflow-y: scroll; 
// }

// .body {
//   background:$body-bg;
//   font-family: 'Titillium Web', sans-serif;
// }

// .a {
//   text-decoration:none;
//   color:$main;
// //   transition:.5s ease;
//   &:hover {
//     color:$main-dark;
//   }
// }

// .form {
//   background:rgba($form-bg,.9);
//   padding: 40px;
//   max-width:600px;
//   margin:40px auto;
//   border-radius:$br;
//   box-shadow:0 4px 10px 4px rgba($form-bg,.3);
// }

// .tab-group {
//   list-style:none;
//   padding:0;
//   margin:0 0 40px 0;
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
//   .li a {
//     display:block;
//     text-decoration:none;
//     padding:15px;
//     background:rgba($gray-light,.25);
//     color:$gray-light;
//     font-size:20px;
//     float:left;
//     width:50%;
//     text-align:center;
//     cursor:pointer;
//     // transition:.5s ease;
//     &:hover {
//       background:$main-dark;
//       color:$white;
//     }
//   }
//   .active a {
//     background:$main;
//     color:$white;
//   }
// }

// .tab-content > div:last-child {
//   display:none;
// }


// .h1 {
//   text-align:center;
//   color:$white;
//   font-weight:$thin;
//   margin:0 0 40px;
// }

// .label {
//   position:absolute;
//   transform:translateY(6px);
//   left:13px;
//   color:rgba($white,.5);
// //   transition:all 0.25s ease;
//   -webkit-backface-visibility: hidden;
//   pointer-events: none;
//   font-size:22px;
//   .req {
//   	margin:2px;
//   	color:$main;
//   }
// }

// .label.active {
//   transform:translateY(50px);
//   left:2px;
//   font-size:14px;
//   .req {
//     opacity:0;
//   }
// }

// .label.highlight {
// 	color:$white;
// }

// .input, .textarea {
//   font-size:22px;
//   display:block;
//   width:100%;
//   height:100%;
//   padding:5px 10px;
//   background:none;
//   background-image:none;
//   border:1px solid $gray-light;
//   color:$white;
//   border-radius:0;
// //   transition:border-color .25s ease, box-shadow .25s ease;
//   &:focus {
// 		outline:0;
// 		border-color:$main;
//   }
// }

// .textarea {
//   border:2px solid $gray-light;
//   resize: vertical;
// }

// .field-wrap {
//   position:relative;
//   margin-bottom:40px;
// }

// .top-row {
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }

//   > div {
//     float:left;
//     width:48%;
//     margin-right:4%;
//     &:last-child { 
//       margin:0;
//     }
//   }
// }

// .button {
//   border:0;
//   outline:none;
//   border-radius:0;
//   padding:15px 0;
//   font-size:2rem;
//   font-weight:$bold;
//   text-transform:uppercase;
//   letter-spacing:.1em;
//   background:$main;
//   color:$white;
// //   transition:all.5s ease;
//   -webkit-appearance: none;
//   &:hover, &:focus {
//     background:$main-dark;
//   }
// }

// .button-block {
//   display:block;
//   width:100%;
// }

// .forgot {
//   margin-top:-20px;
//   text-align:right;
// }